<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add Product</h2>
                <form action="/admin/add-products" method="POST" enctype="multipart/form-data">
                    <label>Name</label>
                    <input type="text" name="Name" class="form-control">
                     <label>Category</label>
                    <input type="text" name="Category" class="form-control">
                     <label>Price</label>
                    <input type="number" name="Price" class="form-control">
                     <label>Description</label>
                    <input type="text" name="Description" class="form-control">
                     <label>Image</label>
                    <input type="file" name="Image" class="form-control">
                    <button type="submit" class="btn btn-success mt-3">Submit</button>
                </form>

            </div>
        </div>
    </div>
</section>